h4{
    color: whitesmoke;
}

body{
    overflow: hidden;
    background-color: yellowgreen;
}

h1{
    color: rgb(20, 20, 113);
    background-color: cornsilk;
    margin-right: -20px;
}

#show_sketch{
    float: right;
    margin-top: 2.5px;
    margin-left: -22px;
}

canvas{
    border: 5px double red;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 130px;
    animation-iteration-count: infinite;
}

@keyframes example {
    from {box-shadow: 1px 1px 38px grey;}
    to {box-shadow: 1px 1px 38px white;}
}

p{
    padding-top: 10px;
    font-size: 25px;
}
#score{
  float: left;
  color: azure;
}
#timer{
 float: right;
 color: azure;
}
